html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="css/bulma/bulma.min.css")
        link(rel="icon", href="favicon.ico")
        script(src="js/main.js")
    body
        div(class="")
            section(class="pb-20 is-relative", style="background-image: url('https://static.shuffle.dev/uploads/files/ce/cec5fd6c99bb3fee37b1e0f64f8ecba0c1dbf411/Background.png'); background-size: cover; background-repeat: no-repeat;")
                div(class="is-absolute is-inset-0 has-background-dark", style="opacity: 80%;")
                div(class="is-relative")
                    nav(class="navbar is-dark mb-10 mb-16-desktop py-5", style="background-color: transparent !important;")
                        div(class="container is-fluid")
                            div(class="navbar-brand is-justify-content-space-between")
                                a(class="navbar-item pl-0 title is-size-4 mb-0", href="#")
                                    img(src="images/SiteLogo.svg", alt="", width="200")
                                button(class="button is-ghost is-hidden-desktop navbar-menu-open")
                                    svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd", clip-rule="evenodd", d="M3.5 7C3.22386 7 3 6.77614 3 6.5C3 6.22386 3.22386 6 3.5 6H20.5C20.7761 6 21 6.22386 21 6.5C21 6.77614 20.7761 7 20.5 7H3.5ZM3.5 12C3.22386 12 3 11.7761 3 11.5C3 11.2239 3.22386 11 3.5 11H20.5C20.7761 11 21 11.2239 21 11.5C21 11.7761 20.7761 12 20.5 12H3.5ZM3 16.5C3 16.7761 3.22386 17 3.5 17H20.5C20.7761 17 21 16.7761 21 16.5C21 16.2239 20.7761 16 20.5 16H3.5C3.22386 16 3 16.2239 3 16.5Z", fill="white")
                            div(class="navbar-menu")
                                div(class="navbar-end")
                                    a(class="navbar-item", href="#") Home
                                    a(class="navbar-item", href="#") Menu
                                    a(class="navbar-item", href="#") About
                                    div(class="is-hidden-touch navbar-item pr-0")
                                        a(class="button is-warning", href="#") Contact Us
                    div(class="section py-0")
                        div(class="container")
                            div(class="has-mw-2xl mx-auto mb-20 mb-32-desktop has-text-centered")
                                span(class="has-text-light") Clayton Park, NS
                                h1(class="title is-size-1 is-spaced has-text-white mt-2")
                                    span Serving the halifax area since
                                    |                 
                                    span(class="is-block has-text-warning") 1996.
                div(class="navbar-side is-fixed is-top-0 is-bottom-0 is-left-0 has-mw-sm", style="width: 75%; z-index: 9999;")
                    nav(class="navbar is-light is-flex is-flex-direction-column px-6 py-6 has-background-grey-darker is-relative", style="width: 100%; height: 100%; overflow-y: auto")
                        div(class="mb-10 is-flex is-align-items-center")
                            a(class="navbar-brand mr-auto title is-size-4 mb-0", href="#")
                                img(src="images/SiteLogo.svg", alt="", width="190")
                            button(class="navbar-close button is-text p-0 mb-2", type="button", aria-label="Close")
                                svg(style="width: 18px; height: 18px;", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            div(class="is-flex-direction-column")
                                a(class="navbar-item mb-4 has-text-white", href="#") Home
                                a(class="navbar-item mb-4 has-text-white", href="#") Menu
                                a(class="navbar-item mb-4 has-text-white", href="#") About
                        div(class="mt-auto")
                            div(class="py-6")
                                a(class="button is-warning is-fullwidth", href="#") Contact Us
                            p(class="has-text-grey-dark is-size-7 mb-4 has-text-centered") © 2022 All rights reserved.
            section(class="section")
                div(class="container")
                    div(class="has-mw-2xl mx-auto")
                        h3(class="mb-8 title is-size-3 is-spaced is-centered") Our Current Hours
                        p(class="subtitle mb-6") Monday - Friday
                        p(class="subtitle mb-6") These types of questions led me to miss numerous deadlines, and I wasted time and energy in back-and-forth communication. Sadly, this situation could have been avoided if the wireframes had provided enough detail.
                        p(class="subtitle mb-6") Now that I am a UX designer, I notice that some designers tend to forget that wireframes are equally creative and technical. We are responsible for designing great ideas, but we are also responsible for creating product specifications. I admit that there can be so many details to remember that it’s easy to lose track. To save time and energy for myself, I gathered all of my years of wireframing knowledge into a single checklist that I refer to throughout the process. And now I am sharing this knowledge with you, so that you can get back to being creative.
            section(class="section has-background-grey")
                div(class="container")
                    h6(class="mb-16 is-size-4 has-text-centered") Find us on your favorite delivery app!
                    div(class="is-centered columns is-multiline is-vcentered")
                        div(class="column is-3-desktop is-6-tablet mb-12 mb-0-desktop")
                            img(class="mx-auto is-block image", style="max-height: 64px", src="images/uber-eats.svg", alt="")
                        div(class="column is-3-desktop is-6-tablet mb-12 mb-0-desktop")
                            img(class="mx-auto is-block image", style="max-height: 64px", src="images/doordash-logo.svg", alt="")
                        div(class="column is-3-desktop is-6-tablet mb-12 mb-0-tablet")
                            img(class="mx-auto is-block image", style="max-height: 64px", src="images/SkipTheDishes-logo.svg", alt="")
            section(class="section pb-32-desktop is-relative")
                div(class="container mb-8")
                    div(class="columns is-multiline")
                        div(class="column is-12 is-6-desktop ml-auto py-10-desktop")
                            div(class="mb-10 mb-40-desktop")
                                h2(class="mb-4 title is-size-2 is-spaced") Come dine with us!
                                p(class="subtitle") Available for dine-in and takeout, come check out our cozy little spot and you'll see why the Halifax area has loved us since 1996.
                                hr
                                p(class="subtitle")
                                    b Delivery Policy
                                p(class="subtitle") Free delivery on orders over $20.00 (before tax) after 5 p.m. to Clayton Park, Fairview, and Rockingham areas. Delivery outside this range starts at a $5.00 delivery charge (some restrictions apply). Last deliveries are half hour before closing. Please call for more details.
                                div
                                    a(class="mr-4", href="#")
                                        img(src="https://static.shuffle.dev/uploads/files/ce/cec5fd6c99bb3fee37b1e0f64f8ecba0c1dbf411/VisaIconMid.svg", alt="", class="")
                                    |                 
                                    a(class="mr-4", href="#")
                                        img(src="https://static.shuffle.dev/uploads/files/ce/cec5fd6c99bb3fee37b1e0f64f8ecba0c1dbf411/InteracIcon.svg", alt="")
                                    |                 
                                    a(class="mr-4", href="#")
                                        img(src="https://static.shuffle.dev/uploads/files/ce/cec5fd6c99bb3fee37b1e0f64f8ecba0c1dbf411/MasterCardIcon.svg", alt="")
                            div(class="columns is-multiline")
                                div(class="column is-12 is-6-desktop mb-5 mb-0-tablet")
                                    svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M18 10L6 6V38L18 42M18 10L30 6M18 10V42M30 6L42 10V42L30 38M30 6V38M30 38L18 42", stroke="#006251", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-3 mb-2 title is-size-4") Visit Us
                                    p(class="mb-1") 278, Lacewood Drive
                                    p Clayton Park, NS B3M 3N8
                                div(class="column is-12 is-6-desktop")
                                    svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M41.9988 32.9533V38.3729C42.0072 40.4446 40.1444 42.1746 38.0528 41.9859C20 42 6 27.87 6.01413 9.93837C5.82575 7.85789 7.54715 6.00212 9.61622 6.00018H15.0465C15.9249 5.99155 16.7766 6.302 17.4426 6.87368C19.3363 8.49899 20.5543 14.0155 20.0856 16.2086C19.7197 17.9207 17.9938 19.1186 16.8204 20.2897C19.3972 24.8124 23.1493 28.5571 27.6809 31.1288C28.8544 29.9577 30.0546 28.2351 31.7702 27.87C33.9709 27.4016 39.523 28.6213 41.1418 30.5281C41.7158 31.2042 42.0208 32.0674 41.9988 32.9533Z", stroke="#006251", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-3 mb-2 title is-size-4") Contact Us
                                    p(class="mb-1") (902) 443-2010
                div(class="column is-5 mt-20 is-absolute is-block-desktop is-hidden-touch is-top-0 is-left-0")
                    div(class="is-relative", style="height: 506px;")
                        img(class="image is-fullwidth is-cover", style="height: 506px;", src="cronos-assets/images/maps/map2.png", alt="")
                div(class="is-hidden-widescreen")
                    img(class="is-fullwidth is-cover", style="height: 400px;", src="cronos-assets/images/maps/map2.png", alt="")
